WEBHOOK_SECRET_TOKEN=meutokenseguro123
TELEGRAM_BOT_TOKEN=seu_token_do_bot_aqui
TELEGRAM_CHAT_ID=seu_chat_id_aqui
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
EMAIL_REMETENTE=seu_email@gmail.com
EMAIL_SENHA=sua_senha_de_app
EMAIL_DESTINATARIO=destinatario@gmail.com
